# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Coverage reports
coverage/

# Build files
build/
dist/

# Debugger files
.nyc_output/

# Ignore any .env file for security reasons
.env
